<a href="https://colab.research.google.com/github/clairesheep/Intruduction-to-Computers/blob/main/0518.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
a = 1
print(a)

1

In [2]:
i = range(5)

In [3]:
print(type(i))

<class 'range'>

In [4]:
print(i)

range(0, 5)

In [5]:
print(list(i))

[0, 1, 2, 3, 4]

In [6]:
j = range(10)

In [7]:
print(type(j))

<class 'range'>

In [8]:
print(j)

range(0, 10)

In [9]:
print(list(j))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [10]:
a = range(3,8)
print(list(a))

[3, 4, 5, 6, 7]

In [12]:
b = range(-2,4)
print(list(b))

[-2, -1, 0, 1, 2, 3]

In [13]:
c = range(3,8,1) # 3,4,5,6,7
d = range(3,8,2) # 3,5,7
e = range(8,3,-1) # 8,7,6,5,4

In [14]:
print(list(c))
print(list(d))
print(list(e))

[3, 4, 5, 6, 7]
[3, 5, 7]
[8, 7, 6, 5, 4]

In [24]:
f = range(9)
g = range(1,10)
h = range(1,10,2)
i = range(10,1,-2)

In [25]:
print(list(f))
print(list(g))
print(list(h))
print(list(i))

[0, 1, 2, 3, 4, 5, 6, 7, 8]
[1, 2, 3, 4, 5, 6, 7, 8, 9]
[1, 3, 5, 7, 9]
[10, 8, 6, 4, 2]

In [38]:
for n in range(3):
    print(n,end = ',')

0,1,2,

In [27]:
for n in range(10):
    print(n,end = ',')

0,1,2,3,4,5,6,7,8,9,

In [33]:
test = int(input('請輸入一個正整數: '))
for m in range(1,test+1):
    print(m,end = ' ')

請輸入一個正整數: 5
1 2 3 4 5

In [35]:
test2 = int(input('請輸入一個正整數: '))
for p in range(1,test2+1):
    print(p,end = ' ')

請輸入一個正整數: 12
1 2 3 4 5 6 7 8 9 10 11 12

In [36]:
test = int(input('請輸入一個正整數: '))
for m in range(1,test+1,2):
    print(m,end = ' ')

請輸入一個正整數: 10
1 3 5 7 9

In [39]:
sum = 0
for n in range(3):
    sum = sum + n
print(sum)

3

In [41]:
sum = 0
for n in range(5):
    sum = sum + n
print(sum)

10

In [42]:
text = int(input('請輸入一個正整數:'))
sum = 0
for n in range(text + 1):
    sum = sum + n
print(1,'到',text,'的整數和為',sum)

請輸入一個正整數:10
1 到 10 的整數和為 55

In [43]:
text = int(input('請輸入一個正整數:'))
sum = 0
for n in range(text + 1):
    sum = sum + n
print(1,'到',text,'的整數和為',sum)

請輸入一個正整數:50
1 到 50 的整數和為 1275

In [47]:
test = int(input('請輸入一個正整數:'))
sum = 0
for n in range(1,test + 1):
    sum = sum + n
    print(1,'到',n,'的整數和為:',sum)

請輸入一個正整數:10
1 到 1 的整數和為: 1
1 到 2 的整數和為: 3
1 到 3 的整數和為: 6
1 到 4 的整數和為: 10
1 到 5 的整數和為: 15
1 到 6 的整數和為: 21
1 到 7 的整數和為: 28
1 到 8 的整數和為: 36
1 到 9 的整數和為: 45
1 到 10 的整數和為: 55